<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>website penza_security.ru</title>
    <link rel="stylesheet" href="/main_styles.css">
    <script src="/slider.js"></script>
</head>
<body>
    <div id="button_reg_auth">
        <a id="main_menu_href" href="/registration">Регистрация/Авторизация</a>
    </div>
    <div>
        <img id="logotip" src="/логотип.png" alt="">
        <h3 id="logo_name">penza_security</h3>
    </div>
    <nav id="main_menu">
        <a id="main_menu_href" href="/">Главная</a>
        <a id="main_menu_href" href="/about">О_компании</a>
        <a id="main_menu_href" href="/my_product">Готовые_наборы</a>
    </nav>
    <br><br> 
    <hr>
    <div id="main_div_page1">
        <br>
        <div class="slider-container">
            <div class="slider">
              <img src="/EMM.jpg" alt="что-то">
              <img src="/likoris_red.jpg" alt="что-то">
              <img src="/likoris_blue.jpg" alt="что-то">
              <img src="/EMM.jpg" alt="что-то">
              <img src="/likoris_red.jpg" alt="что-то">
            </div>
            <button class="prev-button">&lt;</button>
            <button class="next-button" >&gt;</button>
          </div>
    </div>
    
    <hr>
    <div id="bottom_div_page1">
        <p style="word-spacing: 3px;"> Телефон: +7-900-322-33-22.  Онлайн-магазин написан студентом 4 курса. Находится территориально в г.Пенза Пушкина 137. 10 этаж офис 28</p>
    </div>
</body>
</html>