<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>website penza_security.ru</title>
    <link rel="stylesheet" href="/main_styles.css">
</head>
<body>
    <section >
        <div id="button_reg_auth">
            <a id="main_menu_href" href="/registration">Регистрация/Авторизация</a>
        </div>
        <div>
            <a href="/"> <div id="logo_test">
                <p id="text_for_logo">PS</p>
        </div> 
            <h3 id="logo_name">penza_security</h3>
        </a>
        <br><br><br>
<!-- Менюшка для переходов на сайте -->
        <nav id="main_menu">
            <a id="main_menu_href" href="/">Главная</a>
            <a id="main_menu_href" href="/about">О_компании</a>
            <a id="main_menu_href" href="/my_product">Готовые_наборы</a>
        </nav>
        <br>
    </section>
    <hr>
    <section>
        <div id="main_div_page1">
            <h1 style="background-color: #E0E1E9 ;">Решения</h1>
<!-- Блок с описание решений по охране -->
            <div id="div_block_1">
                <h1 id="text_center_1">Людям</h1><br>
                
                <h1 id="text_center_2_1">
                    Охрана квартир и домов, контроль проникновения, видеонаблюдение!
                </h1>
            </div>
            <div id="div_block_2">
                <h1 id="text_center_1">Компаниям</h1>

                <h1 id="text_center_2_2">
                    Предотвращение воровства, контроль подчинённых, защита от проникновения и пожара!
                </h1>
            </div>
            <div id="div_block_3">
                <h1 id="text_center_1">Учреждениям</h1>
                
                <h1 id="text_center_2_3">
                    Решение любых задач по охране, домофонии, пожарным сигнализациям и видеонаблюдением для гос.учреждений
                </h1>
            </div>
            <br><br><br><br>
<!-- Блок с описанием метода работы с клиентом -->
        <div>
            <div id="method_works">
                <div id="MW_div_block_1">

                </div>

                <div id="MW_div_block_2">

                </div>

                <div id="MW_div_block_3">

                </div>
            </div>            
        </div>

        </div>
    </section>
<!-- Подвал сайта -->
    <hr>
    <div id="bottom_div_page1">
        <p style="word-spacing: 3px;"> Телефон: +7-900-322-33-22.  Онлайн-магазин написан студентом 4 курса. Находится территориально в г.Пенза Пушкина 137. 10 этаж офис 28</p>
    </div>
</body>
</html>