*{
    font: 18px K2D;
    background-color: #f8f8ff;
}
a { 
    text-decoration: none;
    color: black;
    border: 1px solid #E0E1E9 ;
}
a:hover{
    color: #AB87FF ;
}
#main_menu{
    text-align: center;
    word-spacing: 22px;
    border: 1px solid #f8f8ff; /* Для подгона менюшки */
    width: 750px;
    margin-left: 350px; 
    margin-top: -155px; /* Для подгона менюшки */
}
h1,p{
    text-align: center;
}
#main_div_page1{
    border: 1px solid #f8f8ff;
    width: 1520px;
    height: 550px;
}
#bottom_div_page1{
    border: 1px solid #f8f8ff;
    width: 1520px;
    height: 39px;
}
#button_reg_auth{
    margin-left: 1300px;
}

#main_menu_href{
    padding: 4px 4px 4px 4px;
    border: 1px solid black;
    border-radius: 20px;
}

#logo_test{
  background-color: #f8f8ff;
  border: 1px solid #AB87FF;
  border-radius: 20px;
  width: 55px;
  height: 55px;
  margin-bottom: 45px;
}

#text_for_logo{
  background-color: #f8f8ff;
  text-align: center;
  justify-content: center;
}

#logo_name{
  margin-left: 60px;
  margin-top: -85px;
  font: 28px K2D;
}
#main_menu{
    text-align: center;
    word-spacing: 22px;

}
#personalOFF_div_page{
    border: 1px solid #f8f8ff;
    width: 1520px;
    height: 580px;
}
#bottom_div_page{
    border: 1px solid #f8f8ff;
    width: 1520px;
    height: 39px;
    word-spacing: 3px;
    text-align: center;
}

#button_reg_auth{
    margin-left: 1300px;
}
#update_user_password{
    border: 1px solid black;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    margin-left: 50px;
    margin-top: 80px;
    text-align: center;
    align-items: center;
    padding: 10px;
}
#user_reviews{
    border: 1px solid black;
    border-radius: 20px;
    width: 300px;
    height: 300px;  
    margin-left: 1100px;
    margin-top: -313px;
    text-align: center;
    align-items: center;
}
input{
    border: 0.5px solid black;
    border-radius: 20px;
    word-wrap: break-word;
    
}

#main_menu_href{
    padding: 4px 4px 4px 4px;
    border: 1px solid black;
    border-radius: 20px;
}